body{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-evenly;
}
.user{
    display: flex;
    flex-direction: row;
}

a{
    text-decoration: none;
    color: gray;
}